<?xml version='1.0' encoding='utf-8'?>

<Context reloadable="true">
   	<Resource name="jdbc/student" auth="Container"
   	    type="javax.sql.DataSource"
   	    maxTotal="20"
   	    maxIdle="10"
		maxWaitMillis="-1"
		driverClassName="org.postgresql.Driver"
		url="jdbc:postgresql://student.c8d8t9ylweam.ap-southeast-1.rds.amazonaws.com:5455/student"
		user="postgres"
		password="post-gres" />
</Context>
